body {
  background-image: url("/media/me-painting.jpg");
  background-size: cover;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.container-fluid {
  padding: 0;
}
.navbar {
  height: 42px;
}
.navbar-brand {
  color: white;
  font-family: "Kristi", cursive;
  font-size: 46px;
  margin-left: 100px;
}
.navbar-nav {
  margin-left: 340px;
}
.nav-link {
  font-weight: 300;
}
