body {
  background: url("/media/me-painting.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}
h1 {
  color: #ffb800;
  font-family: "Kristi", cursive;
  font-size: 82px;
}
h2 {
  color: black;
  font-size: 24px;
  font-weight: 400;
}
h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
hr,
hr:not([size]) {
  height: 1px;
  opacity: 1;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}
p {
  font-size: 22px;
  color: white;
  font-weight: 300;
  margin: 20px;
  margin-bottom: 50px;
}

footer {
  font-size: 10px;
  margin-top: 45px;
}
.coder {
  color: #ffb800;
  font-weight: 300;
}
.coder:hover {
  color: #ffb800;
  font-weight: 500;
}
.content {
  margin: 0 auto;
}
.active {
  font-weight: 400 !important;
  color: #ffb800 !important;
}
.infos {
  margin-top: 100px;
  margin-bottom: 50px;
}
.biography {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.painter-photo {
  border-radius: 10px;
  width: 50%;
}
.picture {
  padding: 0;
  margin-left: 0;
}
.content {
  padding: 0;
}
.bg-dark {
  --bs-bg-opacity: 0.9;
}

.navbar-nav {
  margin-left: 100px;
}
.nav-link {
  font-weight: 300;
}
.nav-link:hover {
  color: white !important;
}
.logo {
  width: 100px;
  margin-left: 50px;
}
.welcome {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 50px 200px;
  margin-top: 100px;
  padding: 30px;
  border-radius: 10px;
}

.primary-button {
  background: black;
  color: white;
  font-size: 24px;
  font-weight: 300;
  padding: 20px 50px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.primary-button:hover {
  color: black;
  background-color: #ffb800;
  font-weight: 500;
}

.title {
  margin: 0 350px;
  margin-top: 100px;
  color: #ffffff;
  font-size: 52px;
  line-height: 28px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
}
.painter-name {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: black;
}
.container-artwork {
  margin: 0 200px;
}
.details {
  color: white;
}
.painting-title {
  margin-top: 100px;
  font-family: "Kristi", cursive;
  font-size: 68px;
  line-height: 45px;
}
.materials {
  font-weight: 300;
  font-size: 18px;
}
.purchase-button {
  font-size: 20px;
  padding: 15px 60px;
}
.painting {
  border-radius: 10px;
  margin: 20px 0;
}
.social-network {
  background: rgba(0, 0, 0, 0.3);
  margin: 100px 400px;
  padding: 50px 0;
  border-radius: 10px;
}
.instagram,
.facebook,
.email {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  margin: 10px;
}

@media (max-width: 1200px) {
  .title {
    margin: 0 200px;
    margin-top: 100px;
  }
  .about-heading {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 68px;
  }
  p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .social-network {
    margin: 100px 350px;
  }
}

@media (max-width: 1180px) {
  .painting-title {
    font-size: 50px;
  }
  .materials {
    font-size: 16px;
  }
  .title {
    margin: 0 180px;
    margin-top: 100px;
  }
  .social-network {
    margin: 100px 330px;
  }
  p {
    font-size: 18px;
  }
}
@media (max-width: 1050px) {
  .container-artwork {
    margin: 0 180px;
  }
  .painting-title {
    font-size: 42px;
    margin-top: 70px;
  }
  .materials {
    font-size: 14px;
  }
  .painting {
    width: 275px;
    margin: 20px 0;
  }
  .title {
    margin: 0 170px;
    margin-top: 100px;
  }
  .social-network {
    margin: 100px 310px;
  }
}
@media (max-width: 992px) {
  .content-home {
    margin-top: 80px;
  }
  .biography {
    padding-bottom: 40px;
    margin: 15px 0;
  }
  .painting {
    width: 250px;
  }
  .container-artwork {
    margin: 0 120px;
  }
  .about-heading {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 48px;
  }
  .biography {
    padding: 40px;
    margin-top: 10px;
  }
  p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .check-button {
    font-size: 14px;
    padding: 15px 20px;
  }
  .navbar-brand {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .welcome {
    margin: 60px 30px;
  }
  .purchase-button {
    font-size: 20px;
    padding: 10px 40px;
  }
  .painting-title {
    margin-top: 70px;
  }
  .title {
    margin: 0 160px;
    margin-top: 80px;
  }
  .social-network {
    margin: 70px 250px;
  }
}
@media (min-height: 992px) {
  .welcome {
    margin-top: 200px;
  }
}
@media (max-width: 768px) {
  footer {
    display: none;
  }
  .container-artwork {
    margin: 0 40px;
  }
  .painting-title {
    font-size: 32px;
    margin-top: 50px;
  }
  .materials {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .check-button {
    font-size: 14px;
    padding: 15px 20px;
  }
  .about-heading {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 42px;
  }

  .painter-photo {
    width: 50%;
  }
  .painting {
    width: 200px;
    margin: 20px 0;
  }
  .title {
    font-size: 48px;
    margin: 0 140px;
    margin-top: 80px;
    line-height: 25px;
  }
  .painter-name {
    font-size: 18px;
  }
  .social-network {
    margin: 60px 150px;
  }
}

@media (max-width: 576px) {
  .container-artwork {
    margin: 0 5px;
  }
  .painting-title {
    margin-top: 10px;
  }
  .painting {
    width: 150px;
    margin: 10px 0;
  }
  .purchase-button {
    font-size: 14px;
    padding: 10px 30px;
  }
  hr {
    margin-bottom: 20px;
  }
  .welcome {
    margin: 60px 30px;
  }

  h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 200;
  }
  h1 {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 52px;
  }
  h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }
  h3 {
    color: white;
    font-size: 16px;
    font-weight: 200;
  }

  .title {
    margin: 0 100px;
    margin-top: 80px;
  }
  .social-network {
    margin: 50px 100px;
  }
}
@media (max-width: 450px) {
  .painting {
    width: 120px;
  }
  .painting-title {
    font-size: 22px;
    line-height: 20px;
    margin-top: 20px;
  }
  .materials {
    font-size: 10px;
  }
  hr {
    margin-bottom: 15px;
  }
  .purchase-button {
    font-size: 14px;
    padding: 5px 20px;
  }
  .title {
    font-size: 40px;
    margin: 0 70px;
    margin-top: 80px;
  }
  .painter-name {
    font-size: 14px;
  }
  .social-network {
    margin: 50px 80px;
  }
}
@media (max-width: 300px) {
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .start-button {
    font-size: 18px;
    padding: 15px 40px;
  }
  .painting {
    width: 100px;
  }
  .painting-title {
    font-size: 22px;
    margin-top: 20px;
  }

  .materials {
    font-size: 8px;
  }

  .purchase-button {
    font-size: 10px;
    padding: 5px 5pxpx;
  }
  .about-heading {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 32px;
  }
  .biography {
    padding-bottom: 40px;
    margin: 15px 0;
  }
  .painter-photo {
    width: 50%;
  }
  p {
    font-size: 12px;
    margin-top: 0;
  }
  .check-button {
    font-size: 14px;
    padding: 15px 5px;
  }
  .welcome {
    margin: 30px 5px;
    padding: 15px 30px;
  }
  h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
  }
  h1 {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 32px;
  }
  h2 {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }
  h3 {
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  .title {
    margin: 0 50px;
    margin-top: 70px;
  }
  .social-network {
    margin: 40px 40px;
  }
  .content-home {
    margin-top: 80px;
  }
}
@media (max-width: 257px) {
  .about-heading {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 32px;
  }
  .biography {
    padding-bottom: 40px;
    margin: 15px 0;
  }
  .painter-photo {
    width: 50%;
  }
  p {
    font-size: 12px;
    margin-top: 0;
  }
  hr {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .check-button {
    font-size: 12px;
    padding: 15px 5px;
  }
  .title {
    margin: 0 20px;
    margin-top: 70px;
  }
  .social-network {
    margin: 20px 10px;
  }
  .content-home {
    margin-top: 100px;
  }
}
