body {
  background: url("/media/me-painting.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
}
h1 {
  color: #ffb800;
  font-family: "Kristi", cursive;
  font-size: 82px;
}
h2 {
  color: black;
  font-size: 24px;
  font-weight: 400;
}
h3 {
  color: white;
  font-size: 20px;
  font-weight: 200;
}
a {
  text-decoration: none;
}
.content {
  padding: 0;
}
.bg-dark {
  --bs-bg-opacity: 0.5;
}
.navbar {
}
.navbar-nav {
  margin-left: 100px;
}
.nav-link {
  font-weight: 200;
}
.logo {
  width: 100px;
  margin-left: 50px;
}

.welcome {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 50px 200px;
  margin-top: 60px;
  padding: 30px;
  border-radius: 10px;
}

.get-started {
  background: black;
  color: white;
  font-size: 24px;
  font-weight: 300;
  padding: 20px 50px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.get-started:hover {
  color: black;
  background-color: #ffb800;
  font-weight: 500;
}

@media (max-width: 992px) {
  .navbar-brand {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .welcome {
    margin: 60px 30px;
  }
}
@media (min-height: 992px) {
  .welcome {
    margin-top: 200px;
  }
}
@media (max-width: 576px) {
  .welcome {
    margin: 60px 30px;
  }
  h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 200;
  }
  h1 {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 52px;
  }
  h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }
  h3 {
    color: white;
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 300px) {
  .welcome {
    margin: 30px 5px;
    padding: 15px 30px;
  }
  h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
  }
  h1 {
    color: #ffb800;
    font-family: "Kristi", cursive;
    font-size: 32px;
  }
  h2 {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }
  h3 {
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  .get-started {
    font-size: 18px;
    padding: 15px 40px;
  }
}
